<!-- Products -->
<app-ariane ariane1="Photographies" link1="photographies"></app-ariane>
<div class="row profile-management">
  <div class="col-md-3 ">
    <div class="list-group ">
      <a class="list-group-item list-group-item-action bg-grey">Theme</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">Homme</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">Femme</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">Autre</a>
      <a class="list-group-item list-group-item-action bg-grey">Orientation</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">Paysage</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">Portrait</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">Panoramic</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">Carré</a>
      <a class="list-group-item list-group-item-action bg-grey">Format</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">Classique</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">Grand</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">Géant</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">Collector</a>
      <a class="list-group-item list-group-item-action bg-grey">Prix</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">Moins de 50€</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">De 50€ à 100€</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">De 100€ à 200€</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">De 200€ à 500€</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">De 500€ à 1000€</a>

      <a class="list-group-item list-group-item-action bg-grey">Filtrage avancé</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">Nouveautés</a>
      <a routerLink="/photographies" class="list-group-item list-group-item-action">Derniers exemplaires</a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row products_row products_container grid">
              <!-- Product -->

              <div class="col-xl-4 col-md-6 grid-item new" *ngFor="let photo of photos | paginate: { itemsPerPage: 9, currentPage: p }">
                <div class="product">
                  <div class="product_image">
                    <img src="../../assets/images/{{photo.image_Url}}" alt="" />
                  </div>
                  <div class="product_content">
                    <div class="product_info d-flex flex-row align-items-start justify-content-start">
                      <div>
                        <div>
                          <div class="product_name">
                            <a [routerLink]="['/photographie', photo.id_Photo]">{{photo.titre_Photo}}</a>
                          </div>
                          <div class="product_category">Artiste: <a [routerLink]="['/artiste/', photo.artiste.prenom]" >{{photo.artiste.prenom}}
                              {{photo.artiste.nom}}</a></div>
                        </div>
                      </div>
                      <div class="ml-auto text-right">
                        <div class="product_price text-right">
                          ${{photo.prix_Base}}<span>.99</span>
                        </div>
                      </div>
                    </div>
                    <div class="product_buttons" [routerLink]="['/photographie', photo.id_Photo]" [queryParams]="{ariane1: 'Photographies', link1: 'photographies'}">
                      <div class="text-right d-flex flex-row align-items-start center-content-start">
                        <div
                          class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                          <div>
                            <div>
                              <img src="../../../../assets/images/cart.svg" class="svg" alt="" />
                              <div>+</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>