.home
{
	width: 100%;
	height: 234px;
	padding-top: 79px;
	background: #4a4a4a;
}
.home_container	
{
	width: 100%;
	height: 100%;
	padding-bottom: 43px;
}
.home_title
{
	font-size: 36px;
	color: #FFFFFF;
	font-weight: 700;
	line-height: 0.75;
}
.breadcrumbs
{
	margin-top: 15px;
}
.breadcrumbs ul li
{
	position: relative;
}
.breadcrumbs ul li:not(:last-of-type)::after
{
	display: inline-block;
	content: '/';
	font-size: 16px;
	font-weight: 500;
	color: #969696;
	margin-left: 4px;
	margin-right: 4px;
}
.breadcrumbs ul li,
.breadcrumbs ul li a
{
	font-size: 16px;
	font-weight: 500;
	color: #969696;
}
.breadcrumbs ul li a:hover
{
	color: #2fce98;
}

/*********************************
6. Cart
*********************************/

.cart_section
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 68px;
	padding-bottom: 100px;
}
.cart_bar
{
	width: 100%;
	padding-bottom: 28px;
	border-bottom: solid 1px #ededed;
}
.cart_bar_list
{
	display: block;
}
.cart_bar_list li
{
	font-family: 'Open Sans', sans-serif;
	width: 68px;
	font-size: 16px;
	font-weight: 400;
	color: #000000;
}
.cart_bar_list li:first-child
{
	width: auto;
}
.cart_bar_list li:not(:first-child):not(:last-child)
{
	margin-right: 30px;
}
.item_list > *:first-child
{
	text-align: left;
}
.cart_items
{
	
}
.cart_items_list
{
	display: block;
}
.cart_item
{
	 width: 100%;
	 height: 126px;
	 padding-top: 23px;
	 padding-bottom: 23px;
	 border-bottom: solid 1px #ededed;
}
.cart_item > div:not(:first-child)
{
	width: 68px;
}
.cart_item > div:not(:first-child):not(:last-child)
{
	margin-right: 30px;
}
.product
{
	height: 100%;
}
.product_image
{
	width: 67px;
	height: 75px;
}
.product_image img
{
	max-width: 100%;
}
.product_number
{
	width: 98px;
	padding-left: 36px;
	font-size: 18px;
	font-weight: 300;
	color: #4a4a4a;
}
.product_name_container
{
	padding-left: 30px;
}
.product_name a
{
	font-size: 18px;
	color: #4a4a4a;
	font-weight: 500;
}
.product_name a:hover
{
	color: #2fce98;
}
.product_text
{
	font-size: 14px;
	font-weight: 400;
	color: #4a4a4a;
}
.product_color
{
	text-transform: uppercase;
}
.product_price
{
	font-size: 16px !important;
}
.product_total
{
	font-size: 16px !important;
	font-weight: 500 !important;
}
.product_text
{
	font-size: 14px;
	font-weight: 300;
	color: #4a4a4a;
}
.product_quantity
{
	width: 68px;
	height: 32px;
	border: solid 2px #969696;
	border-radius: 3px;
}
.product_quantity > span
{
	line-height: 28px;
	font-size: 16px;
	font-weight: 300;
	color: #4a4a4a;
	text-align: center;
}
.qty_button
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 22px;
	height: 100%;
	line-height: 28px;
	cursor: pointer;
	font-size: 16px;
	color: #414141;
}
.qty_button span
{
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.qty_button:hover
{
	color: #bbe432;
}
.qty_sub
{
	left: 0px;
}
.qty_add
{
	right: 0px;
}
.product_text > span
{
	display: none;
}
.cart_buttons
{
	margin-top: 30px;
}
.button
{
	height: 44px;
	text-align: center;
	margin-bottom: 10px;
	border-radius: 3px;
}
.button:not(:last-child)
{
	margin-right: 21px;
}
.button a
{
	display: block;
	line-height: 44px;
	padding-left: 18px;
	padding-right: 18px;
	font-size: 18px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}
.button_continue
{
	background: #2fce98;
}
.button_continue:hover
{
	background: #000000;
}
.button_clear
{
	background: #b2b2b2;
}
.button_clear:hover
{
	background: #414141;
}
.button_clear:hover a
{
	color: #FFFFFF;
}
.cart_extra_row
{
	margin-top: 53px;
}
.cart_extra_1
{
	
}
.cart_extra_2
{
	
}
.cart_extra_content
{
	background: #f8f8f8;
	padding-top: 51px;
	padding-left: 68px;
	padding-right: 82px;
}
.cart_extra_coupon
{
	padding-bottom: 54px;
}
.cart_extra_title
{
	font-size: 24px;
	font-weight: 700;
	color: #4a4a4a;
	line-height: 0.75;
}
.coupon_form_container
{
	max-width: 400px;
	margin-top: 31px;
}
.coupon_form
{
	display: block;
}
.coupon_input
{
	width: calc(100% - 120px);
	height: 44px;
	border: none;
	background: #FFFFFF;
	outline: none;
	margin-right: 30px;
	padding-left: 20px;
}
.coupon_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
	height: 44px;
	background: #2fce98;
	border-radius: 3px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	border: none;
	outline: none;
	cursor: pointer;
}
.coupon_text
{
	font-size: 14px;
	font-weight: 300;
	color: #4a4a4a;
	line-height: 1.75;
	margin-top: 26px;
}
.shipping
{
	margin-top: 38px;
	max-width: 363px;
}
.shipping ul
{
	margin-top: 47px;
}
.shipping ul li:not(:last-child)
{
	margin-bottom: 7px;
}
.shipping_option input
{
	display: inline-block;
	vertical-align: middle;
}
.radio_container
{
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	color: #838383;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
}
.shipping_radio
{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
}
.radio_mark
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	width: 16px;
	height: 16px;
	background: transparent;
	border: solid 2px #838383;
	border-radius: 50%;
}
.radio_mark::after
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #2fce98;
	content: '';
	visibility: hidden;
	opacity: 0;
}
.radio_container input:checked ~ .radio_mark
{
	border-color: #2fce98;
}
.radio_container input:checked ~ .radio_mark::after
{
	visibility: visible;
	opacity: 1;
}
.radio_container input:checked ~ .radio_text
{
	color: #2fce98;
}
.radio_text
{
	font-size: 14px;
	font-weight: 500;
	color: #838383;
}
.shipping_price
{
	font-size: 14px;
	font-weight: 600;
	color: #838383;
	text-transform: uppercase;
}
.cart_extra_total
{
	padding-bottom: 52px;
	padding-right: 68px;
}
.cart_extra_total_list
{
	margin-top: 97px;
	padding-right: 48px;
	padding-left: 20px;
}
.cart_extra_total_list li
{
	position: relative;
}
.cart_extra_total_list li:not(:last-child)
{
	margin-bottom: 24px;
}
.cart_extra_total_title,
.cart_extra_total_value
{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #969696;
}
.cart_extra_total_value
{
	color: #4a4a4a;
}
.cart_extra_total_list li:last-child .cart_extra_total_value
{
	color: #4a4a4a;
	font-weight: 800;
}
.cart_extra_total_list li:last-child::before
{
	display: block;
	position: absolute;
	top: 50%;
	left: -20px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: calc(100% + 68px);
	height: 41px;
	background: #FFFFFF;
	content: '';
	z-index: 0;
}
.checkout_button
{
	width: 100%;
	height: 44px;
	text-align: center;
	background: #2fce98;
	border-radius: 3px;
	margin-top: 70px;
}
.checkout_button a
{
	display: block;
	font-size: 18px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 44px;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.checkout_button:hover
{
	background: #4a4a4a;
}