

/*********************************
6. Product
*********************************/

.product
{
	background: #FFFFFF;
	padding-top: 99px;
	padding-bottom: 31px;
}
.product_image_container
{
	width: 100%;
	height: 621px;
	overflow: hidden;
	border-radius: 2px;
}
.product_image_slider_container
{
	width: 100%;
	border-radius: 2px;
	z-index: 1;
}
#slider
{
	width: 100%;
	height: 100%;
}
#slider.flexslider
{
	border: none;
	margin-bottom: 0;
}
.carousel_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 61px;
	z-index: 1;
}
#carousel
{
	
	width: 116px;
	height: 325px;
}
#carousel .flex-viewport
{
	height: 100% !important;
}
#carousel.flexslider
{
	border: none;
	background: transparent;
	margin-bottom: 0;
}
#carousel.flexslider .slides
{
	width: 100% !important;
	padding-left: 18px;
	padding-right: 18px;
	margin-top: -10px;
}
#carousel.flexslider .slides > li > div
{
	height: 109px !important;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}
#carousel.flexslider .slides > li > div > img
{
	box-shadow: 0px 8px 18px rgba(0,0,0,0.2);
}
.fs_nav
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 20px;
	height: 14px;
	cursor: pointer;
}
.fs_nav i
{
	font-size: 18px;
	color: #4a4a4a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.fs_nav:hover i
{
	color: #2fce98;
}
.fs_prev
{
	top: -38px;
}
.fs_next
{
	bottom: -23px;
}
.fs_nav.disabled
{
	cursor: default;
}
.fs_nav.disabled i
{
	color: rgba(0,0,0,0.25);
}
.product_name
{
    max-width: 100% !important;
	font-size: 30px;
	line-height: 1.2;
	color: #4a4a4a;
	font-weight: 500;
	margin-top: 1px;
}
.product_category a:hover
{
	color: #2fce98;
}
.product_category
{
	margin-top: 5px;
}
.product_category,
.product_category a
{
	font-size: 18px;
	color: #969696;
	font-style: italic;
	font-weight: 400;
}
.product_rating_container
{
	margin-top: 21px;
}
.product_rating
{
	padding-left: 5px;
}
.rating_r i:not(:last-of-type)
{
	margin-right: 4px;
}
.rating_r i::before
{
	font-family: 'FontAwesome';
	content: "\f006";
	font-style: normal;
	font-size: 16px;
	color: #4a4a4a;
}
.rating_r_1 i:first-child::before{content: "\f005";}
.rating_r_2 i:first-child::before{content: "\f005";}
.rating_r_2 i:nth-child(2)::before{content: "\f005";}
.rating_r_3 i:first-child::before{content: "\f005";}
.rating_r_3 i:nth-child(2)::before{content: "\f005";}
.rating_r_3 i:nth-child(3)::before{content: "\f005";}
.rating_r_4 i:first-child::before{content: "\f005";}
.rating_r_4 i:nth-child(2)::before{content: "\f005";}
.rating_r_4 i:nth-child(3)::before{content: "\f005";}
.rating_r_4 i:nth-child(4)::before{content: "\f005";}
.rating_r_5 i:first-child::before{content: "\f005";}
.rating_r_5 i:nth-child(2)::before{content: "\f005";}
.rating_r_5 i:nth-child(3)::before{content: "\f005";}
.rating_r_5 i:nth-child(4)::before{content: "\f005";}
.rating_r_5 i:nth-child(5)::before{content: "\f005";}
.product_reviews
{
	font-size: 18px;
	color: #969696;
	font-style: italic;
	font-weight: 400;
	margin-left: 30px;
	margin-top: 3px;
}
.product_reviews_link
{
	margin-left: 7px;
	margin-top: 3px;
}
.product_reviews_link a
{
	font-size: 18px;
	color: #2fce98;
}
.product_price
{
	font-size: 61.32px;
	color: #4a4a4a;
	font-weight: 500;
	margin-top: 37px;
	line-height: 0.75;
}
.product_price span
{
	font-size: 30px;
	margin-left: 1px;
	vertical-align: top;
}
.product_size
{
	margin-top: 43px;
}
.product_size_title
{
	font-size: 18px;
	font-weight: 700;
	color: #4a4a4a;
}
.product_size ul
{
	margin-top: 22px;
}
.regular_radio
{
	display: none;
}
.regular_radio:checked + label
{
	color: #2fce98;
	border-color: #2fce98;
}
.regular_radio + label
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	width: 36px;
	height: 36px;
	background: transparent;
	border: solid 2px #4a4a4a;
	color: #4a4a4a;
	cursor: pointer;
	margin-right: 14px;
	font-weight: 700;
}
.regular_radio[disabled] + label
{
	border: solid 2px #969696;
	color: #969696;
	cursor: default;
}
.product_text
{
	margin-top: 36px;
}
.product_text p
{
	font-size: 14px;
	font-weight: 300;
	color: #969696;
	line-height: 1.75;
}
.product_buttons
{
	width: 100%;
	height: 57px;
	margin-top: 49px;
}
.product_buttons > div
{
	width: 100%;
	height: 100%;
}
.product_buttons > div > div
{
	width: 50%;
	height: 100%;
	border-top: solid 1px #ededed;
	border-bottom: solid 1px #ededed;
	background: rgba(255,255,255,0);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_buttons > div > div svg
{
	max-width: 100%;
	height: auto;
}
.product_buttons > div > div:hover
{
	background: #2fce98;
}
.product_buttons > div > div:first-of-type
{
	border: solid 1px #ededed !important;
}
.product_button
{
	cursor: pointer;
}
.product_button > div > div
{
	width: 36px;
	height: 36px;
	margin-top: 4px;
}
.product_button > div > div img
{
	max-width: 100% !important;
}
.product_button > div > div > div
{
	position: absolute;
	top: -3px;
	right: -4px;
	width: 18px;
	height: 18px;
	background: #2fce98;
	color: #FFFFFF;
	text-align: center;
	line-height: 18px;
	font-size: 14px;
	border-radius: 50%;
}
.product_button svg path, .product_button svg rect, .product_button svg polygon
{
    fill: #4a4a4a;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.product_button:hover svg path,
.product_button:hover svg rect,
.product_button:hover svg polygon
{
	fill: #FFFFFF;
}
