<app-ariane ariane1="{{ ariane1 }}" link1="{{ link1 }}" ariane2="Article" link2="photographie/1"></app-ariane>
<div class="product">
    <div class="container">
        <div class="row">

            <!-- Product Image -->
            <div class="col-6">
                <img src="../../../assets/images/alley.jpg" />
            </div>

            <!-- Product Info -->
            <div *ngIf="photo" class="col-6">
                <div class="product_info">
                    <div class="product_name">{{ photo.titre_Photo }}</div>
                    <div class="product_category">{{ photo.artiste.prenom }} {{ photo.artiste.nom }}</div>

                    <div class="product_price">${{ photo.prix_Base }}<span>.99</span></div>

                    <div class="product_text">
                        <p>Stock restant: {{ photo.stock }}</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec consequat lorem.
                            Maecenas elementum at diam consequat bibendum. Mauris iaculis fringilla ex, sit amet semper
                            libero facilisis sit amet. Nunc ut aliquet metus. Praesent pulvinar justo sed velit tempus
                            bibendum. Quisque dictum lorem id mi viverra, in auctor justo laoreet. Nam at massa
                            malesuada, ullamcorper metus vel, consequat risus. Phasellus ultricies velit vel accumsan
                            porta.</p>
                    </div>
                    <div class="product_buttons" (click)="addPanier()">
                        <div class="text-right d-flex flex-row align-items-start justify-content-start">
                            <div
                                class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                <div>
                                    <div><img src="../../../../assets/images/cart.svg" class="svg" alt="">
                                        <div>+</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>