<app-ariane ariane1="Error" link1="error"></app-ariane>
<div class="body">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>404 Not Found</h2>
                <div class="error-details">Désolé, une erreur est survenue, La page demandée n'existe pas!</div>
                <div class="error-actions">
                    <a routerLink="/home" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Retour à l'acceuil</a><a routerLink="/help" class="btn btn-default btn-bleu"><span
                            class="glyphicon glyphicon-envelope"></span> Contacter le Support </a>
                </div>
            </div>
        </div>
    </div>
</div>