.error-template {
  padding: 40px 15px;
  text-align: center;
  margin: 200px 0;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}
.container {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-bleu {
  color: #007bff;
}
