<app-ariane ariane1="Aide" link1="help"></app-ariane>
<div class="container contact top-margin">
    <div class="row">
        <div class="col-md-3">
            <div class="contact-info">
                <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
                <h2>Contactez nous !</h2>
                <h4>Questions ou problèmes, nous sommes là !</h4>
            </div>
        </div>
        <div class="col-md-9">
            <form [formGroup]="helpForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputState">Civilite</label>
                        <select id="inputState" class="form-control" formControlName="civilite">
                            <option value="" disabled selected hidden>Civilité</option>
                            <option>M</option>
                            <option>Mme</option>
                            <option>Mlle</option>
                        </select>
                        <div *ngIf="submitted && form.civilite.errors">
                            <div *ngIf="form.civilite.errors.required" class="text-danger">Veuillez choisir une civilité</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputNoml4">Nom</label>
                        <input type="text" class="form-control" id="inputNom4" placeholder="Nom" formControlName="name"
                            required>
                            <div *ngIf="submitted && form.name.errors">
                                <div *ngIf="form.name.errors.required" class="text-danger">Veuillez entrer un nom</div>
                            </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPrenom4">Prenom</label>
                        <input type="text" class="form-control" id="inputPrenom4" placeholder="Prenom"
                            formControlName="surname" required>
                            <div *ngIf="submitted && form.surname.errors">
                                <div *ngIf="form.surname.errors.required" class="text-danger">Veuillez entrer un prénom</div>
                            </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email"
                            formControlName="email" required>
                            <div *ngIf="submitted && form.email.errors">
                                <div *ngIf="form.email.errors.required" class="text-danger">Veuillez entrer un email valide</div>
                            </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputTelephone4">Telephone (optionnel)</label>
                        <input type="text" class="form-control" id="inputTelephone4" placeholder="Telephone"
                            formControlName="telephone">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputState">Sujet</label>
                        <select id="inputState" class="form-control" formControlName="subject">
                            <option value="" disabled selected hidden>Sujet</option>
                            <option selected>Aide pour commander</option>
                            <option selected>Après-vente, échange et retour</option>
                            <option selected>Problème technique</option>
                            <option selected>Autres sujets</option>
                        </select>
                        <div *ngIf="submitted && form.subject.errors">
                            <div *ngIf="form.subject.errors.required" class="text-danger">Veuillez choisir un sujet</div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                            formControlName="message"></textarea>
                            <div *ngIf="submitted && form.subject.errors">
                                <div *ngIf="form.subject.errors.required" class="text-danger">Veuillez entrer un message entre 1 et 1000 caractères</div>
                            </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default button-form-b">Submit</button>
            </form>
        </div>
    </div>
</div>