<app-ariane ariane1="Compte" link1="account" ariane2="Adresse" link2="adresse"></app-ariane>
<div class="container profile-management">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Adresse</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                        <div class="form-group row">
                            <label for="name" class="col-4 col-form-label">Rue</label>
                            <div class="col-8">
                                <input placeholder="Rue" class="form-control here" type="text" formControlName="rue">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-4 col-form-label">Code Postal</label>
                            <div class="col-8">
                                <input placeholder="Code Postal" class="form-control here" type="number"
                                    formControlName="cp">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastname" class="col-4 col-form-label">Ville</label>
                            <div class="col-8">
                                <input placeholder="Ville" class="form-control here" type="text"
                                    formControlName="ville">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="text" class="col-4 col-form-label">Pays</label>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Pays" formControlName="pays">
                            </div>
                        </div>
                <div class="form-group row" style="margin-top: 2rem;">
                    <div class="offset-5 col-8">
                        <button name="submit" type="submit" class="btn btn-primary">Update My Adresse</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>