<ng-container *ngIf="photos">
    <app-ariane ariane1="{{ ariane1 }}" link1="{{ link1 }}"
        ariane2="{{ photos[0].artiste.prenom }} {{ photos[0].artiste.nom }}" link2="artiste/id"></app-ariane>

    <h1>{{ photos[0].artiste.prenom }} {{ photos[0].artiste.nom }}</h1>
    
    <div class="hls_sol">
        <ul>
            <li *ngFor="let photo of photos">
                <img src="../../../../assets/images/{{photo.image_Url}}" alt="">
                <div class="hls_sol_data">
                    <h3>{{photo.titre_Photo}}</h3>
                    <div class="hls_data">
                        <a class="hls_title" *ngIf="photo.dispo_Livraison">Disponible à la livraison</a>
                        <a class="hls_title" *ngIf="!photo.dispo_Livraison">Indisponible pour le moment</a>
                        <a [routerLink]="['/photographie', 2]" [queryParams]="{ariane1: 'Artistes', link1: 'artistes'}" class="btn btn-pro"> Voir le produit →</a>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</ng-container>