.dropdown-flag {
  position: relative;
  display: inline-block;
}

.dropdown-content-flag {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-flag:hover .dropdown-content-flag {
  display: block;
}

.flag-link {
  width: 35px;
}

.clickable {
  cursor: pointer;
}

.active {
  color: #2fce98;
}