<header class="header fixed-top">
	<div class=""></div>
	<div class="header_content d-flex flex-row align-items-center justify-content-start">
		<div class="logo">
			<a routerLink="/home">
				<div class="d-flex flex-row align-items-center justify-content-start">
					<div><img src="../assets/images/logo_1.png" alt="" width="60"></div>
				</div>
			</a>
		</div>
		<div class="header_search">
			<form action="#" id="header_search_form">
				<input type="text" class="search_input" placeholder="Search Item" required="required">
				<button class="header_search_button"><img src="../assets/images/search.png" alt=""></button>
			</form>
		</div>
		<div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
			<div class="user"><a routerLink="/account">
					<div><img src="../assets/images/user.svg"></div>
				</a></div>
			<div class="user">
				<div class="dropdown-flag">
					<img src="../assets/images/flag-fr.svg" class="flag-link clickable">
					<div class="dropdown-content-flag">
					  <img src="../assets/images/flag-en.svg" class="clickable"/>
					  <img src="../assets/images/flag-es.svg" class="clickable"/>
					</div>
				  </div>
			</div>
			<div class="user"><a routerLink="/help">
					<div><img src="../assets/images/help.svg"></div>
				</a></div>
			<div class="user"><a routerLink="/panier">
					<div><img class="svg" src="../assets/images/cart.svg">
						<div *ngIf="panier == 'added'">1</div>
					</div>
				</a></div>
				<div class="user" *ngIf="currentUser"><a style="cursor: pointer;" (click)="logout()">
					<div><img class="svg" src="../assets/images/logout.svg">
						<div>1</div>
					</div>
				</a></div>
		</div>
	</div>
	<div class="header_content d-flex flex-row align-items-center justify-content-start">
		<div class="row">
			<div class="col">
				<div class="page_nav">
					<ul class="d-flex flex-row align-items-start justify-content-center">
						<li><a routerLink="/photographies" routerLinkActive="active">Photographies</a></li>
						<li><a routerLink="/artistes" routerLinkActive="active">Artistes</a></li>
						<li><a routerLink="/photographie/news" routerLinkActive="active">Nouveautés</a></li>
						<li><a routerLink="/photographie/lasts" routerLinkActive="active">Derniers exemplaires</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
