<app-ariane ariane1="Compte" link1="account" ariane2="Activation des Comptes" link2="admin/comptes"></app-ariane>
<div class="row profile-management">
    <div class="col-md-3 ">
        <div class="list-group ">
            <a class="list-group-item list-group-item-action bg-grey">Mon Compte</a>
            <a routerLink="/account/user-informations" class="list-group-item list-group-item-action">Données
                Personnelles</a>
            <a routerLink="/account/adresse" class="list-group-item list-group-item-action">Addresses</a>
            <a class="list-group-item list-group-item-action bg-grey">Informations de Commandes</a>
            <a routerLink="/account/commandes" class="list-group-item list-group-item-action">Historique des
                Commandes</a>
            <a class="list-group-item list-group-item-action bg-grey">Administration</a>
            <a routerLink="/account/admin/comptes" class="list-group-item list-group-item-action">Activation des
                Comptes</a>
            <a routerLink="/account/admin/commandes" class="list-group-item list-group-item-action">Gestion des
                Commandes</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Gestion des Commandes</h4>
                        <hr>
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped">
                        <thead>
                            <th>Commande</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <select class="form-control">
                                        <option>En attente de traitement</option>
                                        <option>En cours de préparation</option>
                                        <option>En cours d’acheminement</option>
                                        <option>Livrée</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <select class="form-control">
                                        <option>En attente de traitement</option>
                                        <option>En cours de préparation</option>
                                        <option>En cours d’acheminement</option>
                                        <option>Livrée</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <select class="form-control">
                                        <option>En attente de traitement</option>
                                        <option>En cours de préparation</option>
                                        <option>En cours d’acheminement</option>
                                        <option>Livrée</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="float-right">
                        <button name="submit" type="submit" class="btn btn-primary" (click)="submit()">Valider</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>