.margin-header {
    margin-top: 120px;
    height: 40px;
    background: #f8f8f8;
    border-top: #495057 1px solid;
    border-bottom: #495057 1px solid;
    position: relative;
}

.arrow {
    width: 20px;
    vertical-align: text-bottom;
    margin: 12px 10px 0 10px;
}

li {
    margin-top: 10px;
}

a {
    color: black;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #2fce98;
}