<div class="header_content d-flex flex-row align-items-center justify-content-start margin-header">

                <ul class="d-flex flex-row align-items-start justify-content-center">
                    <li><a routerLink="/home">Acceuil</a></li>
                    <img *ngIf="ariane1 && link1" src="../../../assets/images/arrow.svg" class="arrow">
                    <li *ngIf="ariane1 && link1"><a (click)="onLink1()">{{ ariane1 }}</a></li>
                    <img *ngIf="ariane2 && link2" src="../../../assets/images/arrow.svg" class="arrow">
                    <li *ngIf="ariane2 && link2"><a (click)="onLink2()">{{ ariane2 }}</a></li>
                </ul>
            
</div>