<app-ariane ariane1="Artistes" link1="artistes"></app-ariane>

<h1>Artistes</h1>
<div class="hls_sol">
    <ul>
        <li>
            <img src="https://picsum.photos/600/700/?random" alt="">
            <div class="hls_sol_data">
                <h3>Casual</h3>
                <div class="hls_data">
                    <a href="https://500px.com/ravi7284007"  class="hls_title">John Cenna</a>
                    <a (click)="goToPage()" class="btn btn-pro"> Voir l'artiste →</a>
                </div>
            </div>
        </li>
        <li>
            <img src="https://picsum.photos/600/800/?random" alt="">
            <div class="hls_sol_data">
                <h3>Voyage</h3>
                <div class="hls_data">
                    <a href="https://500px.com/ravi7284007"  class="hls_title">John Williams</a>
                    <a (click)="goToPage()" class="btn btn-pro" > Voir l'artiste →</a>
                </div>
            </div>
        </li>
        <li>
            <img src="https://picsum.photos/600/750/?random" alt="">
            <div class="hls_sol_data">
                <h3>Dapper</h3>
                <div class="hls_data">
                    <a href="https://500px.com/ravi7284007"  class="hls_title">John Cenna</a>
                    <a (click)="goToPage()" class="btn btn-pro" > Voir l'artiste →</a>
                </div>
            </div>
        </li>
        <li>
            <img src="https://picsum.photos/600/710/?random" alt="">
            <div class="hls_sol_data">
                <h3>Black & White</h3>
                <div class="hls_data">
                    <a href="https://500px.com/ravi7284007"  class="hls_title">John Cenna</a>
                    <a (click)="goToPage()" class="btn btn-pro"> Voir l'artiste →</a>
                </div>
            </div>
        </li>
    </ul>

</div>