.login,
.image {
  min-height: 100vh;
}

.top-margin {
  margin-top: 120px !important;
}

.bg-grey {
  background: #e6e6e6 !important;
}

.bg-image {
  background-image: url("https://cdn.pixabay.com/photo/2020/01/07/23/01/sketch-4748895_960_720.jpg");
  background-size: cover;
  background-position: center;
}

.login .d-flex {
  padding-bottom: 6rem !important;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  border-radius: 2rem;
}

.form-label-group > label {
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.feature_col:nth-child(2) .feature {
  margin-top: 10px;
  background: #f8f8f8;
  width: 100%;
  left: 0;
  height: 126px;
}

.feature_col .feature_icon {
  width: 100px !important;
  height: 100px !important;
  transform: translateY(10px);
}

.feature_col:nth-child(2) .feature_title {
  color: #4a4a4a;
}

.feature_left {
  width: 25% !important;
}

.feature_title {
  max-width: 100% !important;
}

.focus-link:hover {
  text-decoration: none;
  color: #4a4a4a;
  cursor: pointer;
}

.focus-link:hover .feature {
  background-color: #e6e6e6 !important;
}
