<ng-container *ngIf="!currentUser">
  <div class="container-fluid">
    <app-ariane ariane1="Se Connecter" link1="account"></app-ariane>
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Welcome back!</h3>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <div class="form-label-group">
                      <input type="email" id="inputEmail" class="form-control" formControlName="email"
                        placeholder="Email address" required autofocus>
                    </div>

                    <div class="form-label-group">
                      <input type="password" id="inputPassword" class="form-control" formControlName="password"
                        placeholder="Password" required>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                      type="submit">Se connecter</button>
                    <div class="text-center">
                      <a href="#">Mot de passe oublié?</a></div>
                    <div class="text-center">
                      <a routerLink="/create-account">S'enregistrer</a></div>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="currentUser">
  <app-ariane ariane1="Compte" link1="account"></app-ariane>
  <div class="row profile-management">
    <div class="col-md-3 ">
      <div class="list-group ">
        <a class="list-group-item list-group-item-action bg-grey">Mon Compte</a>
        <a routerLink="user-informations" class="list-group-item list-group-item-action">Données Personnelles</a>
        <a routerLink="adresse" class="list-group-item list-group-item-action">Addresses</a>
        <a class="list-group-item list-group-item-action bg-grey">Informations de Commandes</a>
        <a routerLink="commandes" class="list-group-item list-group-item-action">Historique des Commandes</a>
        <ng-container *ngIf="currentUser.isAdmin">
          <a class="list-group-item list-group-item-action bg-grey">Administration</a>
          <a routerLink="admin/comptes" class="list-group-item list-group-item-action">Activation des Comptes</a>
          <a routerLink="admin/commandes" class="list-group-item list-group-item-action">Gestion des Commandes</a>
        </ng-container>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4>Votre Profile</h4>
              <hr>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-lg-12 feature_col">
                <a routerLink="user-informations" class="focus-link">
                  <div class="feature d-flex flex-row align-items-start justify-content-start">
                    <div class="feature_left">
                      <div class="feature_icon"><img src="../assets/images/icon_4.svg" class="svg-img" alt=""></div>
                    </div>
                    <div class="feature_right d-flex flex-column align-items-start justify-content-center">
                      <div class="feature_title">Données
                        <p>Afficher ou mettre à jour vos informations personnelles</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-lg-12 feature_col">
                <a routerLink="commandes" class="focus-link">
                  <div class="feature d-flex flex-row align-items-start justify-content-start">
                    <div class="feature_left">
                      <div class="feature_icon"><img src="../assets/images/icon_5.svg" alt=""></div>
                    </div>
                    <div class="feature_right d-flex flex-column align-items-start justify-content-center">
                      <div class="feature_title">Commandes
                        <p>Vérifiez le status de vos commandes ou voir les commandes passées</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-lg-12 feature_col">
                <a routerLink="adresse" class="focus-link">
                  <div class="feature d-flex flex-row align-items-start justify-content-start">
                    <div class="feature_left">
                      <div class="feature_icon"><img src="../assets/images/icon_6.svg" alt=""></div>
                    </div>
                    <div class="feature_right d-flex flex-column align-items-start justify-content-center">
                      <div class="feature_title">Adresse
                        <p>Gérer vos adresse de livraison et de facturation</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>