<app-ariane ariane1="Compte" link1="account" ariane2="Données Personnelles" link2="user-informations"></app-ariane>
<div class="container profile-management">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Données Personnelles</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                        <div class="form-group row">
                            <label for="select" class="col-4 col-form-label">Civilité</label>
                            <div class="col-8">
                                <select id="select" name="select" class="custom-select" formControlName="civilite">
                                    <option value="admin" selected>Mr</option>
                                    <option value="admin">Mme</option>
                                    <option value="admin">Mlle</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-4 col-form-label">Prénom</label>
                            <div class="col-8">
                                <input placeholder="Prénom" class="form-control here" type="text" formControlName="prenom">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastname" class="col-4 col-form-label">Nom</label>
                            <div class="col-8">
                                <input placeholder="Nom" class="form-control here" type="text" formControlName="nom">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="text" class="col-4 col-form-label">Téléphone</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            +33
                                        </span>                    
                                    </div>
                                    <input type="number" class="form-control" placeholder="Téléphone" formControlName="telephone">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" style="margin-top: 2rem;">
                            <div class="offset-5 col-8">
                                <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>