.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-caption  {
      bottom: 40% !important;
  }

  .lead {
      color: white;
  }

  .btn-transparant {
    color: white;
    border: solid 2px;
    border-radius: 5px;
    margin-top: 20px;
  }