<div class="super_container">

	<div class="super_container_inner">
		<div class="super_overlay"></div>
		<!-- Products -->

		<header>
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active"
						style="background-image: url('https://source.unsplash.com/LAaSoL0LrYs/1920x1080')">
						<div class="carousel-caption d-none d-md-block">
							<h2 class="display-4">Nouvelles oeuvres</h2>
							<p class="lead">Venez découvrir nos nouvelles photographies</p>
							<div class="btn-group ">
								<button type="button" class="btn btn-transparant"
									[routerLink]="['/photographie/news']">Explorer la nouvelle collection >
								</button>
							</div>
						</div>
					</div>
					<div class="carousel-item"
						style="background-image: url('https://source.unsplash.com/bF2vsubyHcQ/1920x1080')">
						<div class="carousel-caption d-none d-md-block">
							<h2 class="display-4">Derniers examplaires</h2>
							<p class="lead">Venez découvrir des photographies en stock limités</p>
							<button type="button" class="btn btn-transparant"
								[routerLink]="['/photographie/lasts']">Explorer nos derniers stocks >
							</button>
						</div>
					</div>

				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</header>



		<div class="products">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="section_title text-center">Meilleures Ventes</div>
					</div>
				</div>
				<div class="row products_row">

					<div *ngFor="let item of bestPhotographies" class="col-xl-4 col-md-4">
						<div class="product">
							<div class="product_image"><img src="../assets/images/{{item.image_Url}}"></div>
							<div class="product_content">
								<div class="product_info d-flex flex-row align-items-start justify-content-start">
									<div>
										<div>
											<div class="product_name"><a
													routerLink="/photographie/id">{{ item.titre_Photo }}</a></div>
											<div class="product_category">Artiste: <a
													href="category.html">{{item.artiste.prenom}}
													{{item.artiste.nom}}</a></div>
										</div>
									</div>
									<div class="ml-auto text-right">
										<div class="product_price text-right">${{ item.prix_Base }}<span>.99</span>
										</div>
									</div>
								</div>
								<div class="product_buttons" [routerLink]="['/photographie/', item.id_Photo]">
									<div class="text-right d-flex flex-row align-items-start justify-content-start">
										<div
											class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
											<div>
												<div><img src="../assets/images/cart.svg" class="svg" alt="">
													<div>+</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="boxes">
			<div class="container">
				<div class="row">
					<div class="col">
						<div
							class="boxes_container d-flex flex-row align-items-start justify-content-between flex-wrap">

							<!-- Box -->
							<div class="box">
								<div class="background_image" style="background-image:url(../assets/images/box_2.jpg)">
								</div>
								<div class="box_content d-flex flex-row align-items-center justify-content-start">
									<div class="box_left">
										<div class="box_image">
											<a [routerLink]="['/photographies']">
												<div class="background_image"
													style="background-image:url(../assets/images/box_2_img.jpg)"></div>
											</a>
										</div>
									</div>
									<div class="box_right text-center">
										<div class="box_title">Voyages</div>
									</div>
								</div>
							</div>

							<!-- Box -->
							<div class="box">
								<div class="background_image"
									style="background-image:url(../assets/images/box_1_img.jpg)">
								</div>
								<div class="box_content d-flex flex-row align-items-center justify-content-start">
									<div class="box_left">
										<div class="box_image">
											<a [routerLink]="['/photographies']">
												<div class="background_image"
													style="background-image:url(../assets/images/box_1.jpg)"></div>
											</a>
										</div>
									</div>
									<div class="box_right text-center">
										<div class="box_title">Noir & Blanc</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="boxes">
			<div class="container">
				<div class="row">
					<div class="col">
						<div
							class="boxes_container d-flex flex-row align-items-start justify-content-between flex-wrap">

							<!-- Box -->
							<div class="box">
								<div class="background_image" style="background-image:url(../assets/images/box_3.jpg)">
								</div>
								<div class="box_content d-flex flex-row align-items-center justify-content-start">
									<div class="box_left">
										<div class="box_image">
											<a [routerLink]="['/artiste/Aurélie']">
												<div class="background_image"
													style="background-image:url(../assets/images/box_3_img.jpg)"></div>
											</a>
										</div>
									</div>
									<div class="box_right text-center">
										<div class="box_title">Aurélie Villette</div>
									</div>
								</div>
							</div>

							<!-- Box -->
							<div class="box">
								<div class="background_image"
									style="background-image:url(../assets/images/box_4_img.jpg)">
								</div>
								<div class="box_content d-flex flex-row align-items-center justify-content-start">
									<div class="box_left">
										<div class="box_image">
											<a [routerLink]="['/photographie/lasts']">
												<div class="background_image"
													style="background-image:url(../assets/images/box_4.jpg)"></div>
											</a>
										</div>
									</div>
									<div class="box_right text-center">
										<div class="box_title">Derniers exemplaires</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="features">
			<div class="container">
				<div class="row">

					<!-- Feature -->
					<div class="col-lg-4 feature_col">
						<div class="feature d-flex flex-row align-items-start justify-content-start">
							<div class="feature_left">
								<div class="feature_icon"><img src="../assets/images/icon_1.svg" alt=""></div>
							</div>
							<div class="feature_right d-flex flex-column align-items-start justify-content-center">
								<div class="feature_title">Paiements Sécurisés</div>
							</div>
						</div>
					</div>

					<!-- Feature -->
					<div class="col-lg-4 feature_col">
						<div class="feature d-flex flex-row align-items-start justify-content-start">
							<div class="feature_left">
								<div class="feature_icon ml-auto mr-auto"><img src="../assets/images/icon_2.svg" alt="">
								</div>
							</div>
							<div class="feature_right d-flex flex-column align-items-start justify-content-center">
								<div class="feature_title">Produits de Qualité</div>
							</div>
						</div>
					</div>

					<!-- Feature -->
					<div class="col-lg-4 feature_col">
						<div class="feature d-flex flex-row align-items-start justify-content-start">
							<div class="feature_left">
								<div class="feature_icon"><img src="../assets/images/icon_3.svg" alt=""></div>
							</div>
							<div class="feature_right d-flex flex-column align-items-start justify-content-center">
								<div class="feature_title">Livraison Gratuite</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

</div>