<footer class="footer">
    <div class="footer_content">
            <div class="row">

                <!-- About -->
                <div class="col-lg-6 footer_col">
                    <div class="footer_about">
                        <div class="footer_logo">
                            <a href="#">
                                <div class="d-flex flex-row justify-content-start">
                                    <div class="footer_logo_icon"><img src="../assets/images/logo_1.png" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Footer Links -->
                <div class="col-lg-4 footer_col">
                    <div class="footer_menu">
                        <div class="footer_title">Support</div>
                        <ul class="footer_list">
                            <li>
                                <a routerLink="/mentions">
                                    <div>Mentions légales</div>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/conditions">
                                    <div>Conditions générales d'utilisation</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Contact -->
                <div class="col-lg-2 footer_col">
                    <div class="footer_contact">
               
                        <div class="footer_social">
                            <div class="footer_title">Social</div>
                            <ul
                                class="footer_social_list d-flex flex-row align-items-start justify-content-start">
                                <li><a href="https://www.facebook.com/Kartina-100502021586167/?modal=admin_todo_tour" target="_blank"><img class="social-media" src="../assets/images/facebook.svg" alt=""></a></li>
                                <li><a href="https://twitter.com/KartinaTV" target="_blank"><img class="social-media" src="../assets/images/twitter.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</footer>