<app-ariane ariane1="S'inscrire" link1="create-account"></app-ariane>
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Inscription</h3>
                            <form>
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <select class="form-control">
                                            <option>Civilité</option>
                                            <option>Mr</option>
                                            <option>Mme</option>
                                            <option>Mlle</option>
                                        </select>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="text" class="form-control" placeholder="Nom" required autofocus>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="text" class="form-control" placeholder="Prenom" required autofocus>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="email" class="form-control" placeholder="Addresse Email" required
                                            autofocus>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="password" class="form-control" placeholder="Mot de Passe" required>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="password" class="form-control" placeholder="Confimer Mot de Passe"
                                            required>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="number" class="form-control" placeholder="Telephone" required
                                            autofocus>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="text" class="form-control" placeholder="Rue" required autofocus>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" placeholder="Code Postal" required
                                            autofocus>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" placeholder="Ville" required autofocus>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" placeholder="Pays" required autofocus>
                                    </div>

                                    <button
                                        class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                        type="submit">S'inscrire</button>
                                    <div class="text-center">
                                        <a routerLink="/account">Se connecter</a></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>