select {
  border-radius: 20px;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://cdn.pixabay.com/photo/2019/05/04/15/24/art-4178302_960_720.jpg');
  background-size: cover;
  background-position: center;
}

.login .d-flex{
    padding-bottom: 6rem !important;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  border-radius: 2rem;
}

.form-label-group>label {

  border: 1px solid transparent;
  border-radius: .25rem;
}


.top-margin {
    margin-top: 120px !important;
  }